<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <a class="navbar-brand " href="/comments">
    <h3 class="locaflix">
      <span class="loca">Loca</span><span class="flix">Flix</span>
    </h3>
  </a>

  <ul class="navbar-nav col-12">

    <% if locals[:context_now] == "index" %>
      <li class="nav-item col-10"></li>
    <% end %>

    <% if locals[:context_now] == "show" %>
      <li class="nav-item col-9"></li>
    <% end %>

    <% if locals[:context_now] == "create" %>
      <li class="nav-item col-10"></li>
    <% end %>

    <li class="nav-item">
      <% if locals[:context_now] == "index" %>
        <a><%= link_to "Novo Comentário", new_comment_path, class: "nav-link btn-new btn-custom"%></a>
      <% end %>

      <% if locals[:context_now] == "show" %>
        <div class="center-btn">
          <%= link_to "Editar", edit_comment_path(@comment), class: "nav-link btn-edit btn-custom" %>
          <%= button_to "Apagar Comentário", @comment, method: :delete, class: "nav-link btn-destroy btn-custom" %>
        </div>
      <% end %>
    </li>
  </ul>
</nav>



