<% if notice.present? %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>

<%= render "nav", :locals => {context_now: "index" }  %>

<div class="row" id="movies">
  <% @comments.each do |comment| %>
    <div class="col-md-auto col">
      <div class="card" style="width: 18rem;">
        <%= render comment %>
        <%= link_to "+Detalhes", comment,  :class => "btn btn-primary justify-content-center space-show" %>
      </div>
    </div>
  <% end %>
</div>