<% if notice.present? %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>

<%= render "nav", :locals => {context_now: "index" }  %>

<div class="row " id="movies">
  <% @movies.each do |movie| %>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <%= render movie %>
        <%= link_to "+Detalhes", movie,  :class => "btn btn-primary justify-content-center space-show" %>
      </div>
    </div>
  <% end %>
</div>


