<%= render "nav", :locals => {context_now: "create"}  %>

<h3>Novo filme</h3>

<%= render "form", movie: @movie, title: "Criar" %>

<br>

<div>
  <%= link_to "Voltar aos Filmes", movies_path, class: "btn btn-secondary" %>
</div>
