<% if notice.present? %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>

<%= render "nav", :locals => {context_now: "show" }  %>

<h1 class="col-9 h1-di">Detalhes</h1>

<div class="card space-new teste-aumento" style="width: 18rem;">
    <%= render @movie %>
    <%= link_to "Voltar aos Filmes", movies_path,:class => "btn btn-primary justify-content-center space-show" %>
</div>

